* {
    padding: 0;
    margin: 0;
    font-family: "MyriadPro-Regular", sans-serif;
    box-sizing: border-box;
}

/* html {
    scroll-behavior: smooth;

} */


body {
    cursor: default;
    scroll-behavior: smooth;

    font-size: 16px;
}

img {
    max-width: 100%;
}

header {
    text-align: -webkit-center;
}

.header__logo {
    font-weight: bold;
    /* font-size: 40px; */
    color: #000;
    font-size: 2.5em;
}

.header__body {
    display: flex;
    justify-content: space-around;
    /* padding: 15px 0; */
    align-items: center;
    background-color: white;
    z-index: 1;
    padding: .9em 0;
}

.header__menu {
    display: inline-block;
    /* margin-right: 55px; */
    margin-right: 3.43em;

}

.header__logo_orange {
    color: #FCAE61;
}

.menu-list {
    color: #242F51;
    list-style: none;
    display: flex;
}

.menu-list__link {
    text-decoration: none;
    color: #242F51;
    /* font-size: 18px; */
    /* padding: 10px 0; */
    font-size: 1.125em;
    padding: .625em 0;
}

.menu-list li:not(:last-child) {
    /* margin-right: 45px; */
    margin-right: 2.81em;
}

/*                          ----------BURGER------------- */
.header__burger {
    display: none;
    position: relative;
    width: 30px;
    height: 20px;

    align-items: center;
    justify-content: flex-end;

    transition: all .5s ease-in-out;
}

.header__burger span {
    position: absolute;
    background-color: #000;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;

    transition: all .5s ease-in-out;

}

.header__burger::before,
.header__burger::after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;

    transition: all .5s ease-in-out;

}

.header__burger::before {
    top: 0;
}

.header__burger::after {
    bottom: 0;
}

/* ------------BURGER - ANIMATION-------------- */
.header__burger.open span {
    left: -30px;
}

.header__burger.open::before {
    transform: rotate(40deg) translate(5px, 8px);
}

.header__burger.open::after {
    transform: rotate(-40deg) translate(5px, -8px);
}

/* BUTTON DEFAULT */
.button {
    /* font-size: 16px; */
    cursor: pointer;
    font-weight: bold;
    color: #fff;
    background-color: #2500F9;
    /* border-radius: 50px; */
    border: 0;
    outline: none;
    /* padding: 15px 30px; */
    font-size: 1em;
    padding: .94em 1.87em;
    border-radius: 3.12em;
}

/* SUBTITLE */
.subtitle {
    /* font-size: 16px; */
    color: #616368;
}

/* TITLE */
.title {
    font-weight: bold;
    color: #242F51;
}

/* ---------------- */
.welcome {
    background: url(../img/welcome/townBg.png) 100%/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding-top: 60px; */
    padding-top: 3.75em;

}

.welcome__info {
    position: relative;
    z-index: 0;
}

.welcome__phone {
    /* margin-top: 30px; */
    max-width: 35%;

    margin-top: 1.9em;

}

.info-rank {
    /* font-size: 18px; */
    display: flex;
    font-size: 1.13em;

}

.rank__icon {
    background-color: #FEAA25;
    /* border-radius: 50px; */
    /* padding: 4px 6px; */
    position: absolute;
    align-self: center;
    border-radius: 3.12em;
    padding: .25rem 0.37rem;
}

.rank__text {
    background-color: #E2EAED;
    /* border-radius: 50px; */
    /* padding: 4px 32px; */
    /* margin-left: 10px; */
    max-width: 300px;

    border-radius: 3.12em;
    margin-left: .62rem;
    padding: .25rem 2rem;
}

.info__title {
    /* font-size: 55px; */
    /* margin: 20px 0; */
    font-size: 3.43em;
    margin: 1.25rem 0;
}

.info__description {
    /* font-size: 17px; */
    font-size: 1.0625em;

}

.info-submits {
    /* margin: 35px 0; */
    margin: 2.18em 0;

}

.submits__button {
    /* padding: 15px 35px; */
    padding: .93em 2.18em;
}

.submits__link {
    text-decoration: none;
    color: #2500F9;
    /* margin: 20px;
    font-size: 17px; */
    font-size: 1.06em;
    margin: 1.25rem;
}

/* COMPANIES */
.companies {
    text-align: center;
    /* margin: 100px 0; */
    margin: 6.25em 0;
}

.companies__text {
    /* font-size: 18px; */
    color: #242F51;
    font-size: 1.125em;
}

.companies-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image__company {
    /* margin: 40px 0; */
    width: 15%;
    place-self: flex-end;
    margin: 2.5em 0;
}

/* COLORS */
._red {
    color: #F55767;
}

._blue {
    color: #2563FF;
}

._green {
    color: #40975F;
}

/* BG- COLORS */
._red-bg {
    background-color: #FFECEF
}

._grey-bg {
    background-color: #F4F4FF;
}

._green-bg {
    background-color: #E4FFEE;
}

/* AWESOME */
.awesome {
    display: flex;
    /* margin-top: 125px; */
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 70px; */
    margin-top: 7.81em;
    gap: 4.37em;
}

.awesome__features {
    max-width: 30%;
    /* flex: 1 1 30%; */
    min-width: 320px;
}

.awesome__phone {
    max-width: 42%;
    /* flex: 1 1 42%; */
    min-width: 300px;
}

/* FEATURES */
.features__title {
    /* font-size: 44px; */
    font-size: 2.74em;
}

.features__descriprion {
    /* font-size: 18px;
    margin: 20px 0 60px 0; */
    /* margin: 20px 0 60px 0; */
    font-size: 1.125em;
    margin: 1.25em 0 3.75rem 0;
}

.features-item {
    display: flex;
}

.features-item__text {
    width: 60%;
    /* margin-bottom: 45px; */
    margin-bottom: 2.81em;
}

.features-item__image {
    align-self: center;
    /* margin: 0 30px 30px 0; */
    /* min-width: 25px; */
    margin: 0 1.87em 1.87em 0;
    min-width: 1.56rem;
}

.features-item__title {
    /* font-size: 18px;
    margin-bottom: 12px; */
    font-size: 1.125em;
    margin-bottom: .75em;
}

.round-background {
    /* padding: 13px;
    border-radius: 50px; */
    display: inline-block;
    padding: .81em;
    border-radius: 3.12em;
}

/* SMART */
.smart__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 100px 0;
}

.smart__header-title {
    font-size: 40px;
    max-width: 26%;
}

.smart__header-description {
    font-size: 19px;
    line-height: 25px;
    max-width: 30%;
    border-left: 2px solid #c9c8c8;
    margin-left: 35px;
    padding-left: 40px;
}

.smart__footer {
    display: flex;
    justify-content: center;
    margin-bottom: 145px;
    gap: 5%;
    padding: 0 20px;
}

.smart-item {
    /* width: 18%; */
    /* margin: 0 45px; */
    max-width: 235px;
    min-width: 100px;
}

.smart-item__title {
    font-size: 19px;
    margin: 20px 0 10px 0;
}

/* DESIGNED */
.designed {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    padding-bottom: 100px;
    border-bottom: 2px solid #E5E6E5;
}

.designed__image {
    max-width: 45%;

    /* flex: 1 1 45%; */
    /* min-width: 300px; */
}

.designed__info {
    max-width: 30%;

    /* flex: 1 1 30%; */
    /* min-width: 300px; */
}

.designed__info-title {
    font-size: 44px;
}

.designed__info-description {
    font-size: 17px;
    margin: 35px 0 40px 0;
    line-height: 25px;
}

/* CHOICE */
.choice {
    text-align: center;

    margin-top: 130px;
}

.choice__title {
    font-size: 43px;

}

.choice__description {
    font-size: 18px;
    margin: 20px 0 90px 0;
    line-height: 25px;
}

/* option */
.choice__options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.options-item {
    flex: 1 30%;
    text-align: -webkit-center;
    margin-bottom: 50px;
}

.options-item__title {
    font-size: 18px;
    margin: 15px 0;
}

.options-item__description {
    margin-bottom: 20px;
    width: 50%;
}

/* COLORS */
._pink {
    background-color: #FFECEF
}

._light-blue {
    background-color: #EAF9FF
}

._yellow {
    background-color: #FFF6D3
}

._lime {
    background-color: #E4FFEE
}

._stone {
    background-color: #F4F4FF
}

._biege {
    background-color: #FDEEE4
}

/* ULTIMATE */
.ultimate__title {
    /* font-size: 44px; */
    font-size: 2.75em;
}

.ultimate__description {
    /* font-size: 18px; */
    /* margin: 20px 0 60px 0; */
    font-size: 1.12em;
    margin: 1.25rem 0 3.75rem 0;
}

.ultimate-item__title {
    /* font-size: 18px; */
    /* margin: 15px 0; */
    font-size: 1.125em;
    margin: .93rem 0;
}

.ultimate-item__description {
    /* margin-bottom: 20px; */
    margin-bottom: 1.25em;
}

.ultimate__button {
    /* padding: 15px 50px; */
    /* font-size: 17px; */
    padding: .93rem 3.12rem;
    font-size: 1.0625em;
}

.ultimate-item {
    max-width: 40%;
    /* margin: 0 60px 30px 0; */
    margin: 0 3.75em 1.87em 0;
}

.ultimate__items {
    display: flex;
    flex-wrap: wrap;
}

.ultimate {
    display: flex;
    /* margin-bottom: 150px; */
    margin-bottom: 9.37em;
}

.ultimate__content {
    /* margin-left: 120px; */
    max-width: 50%;
    margin-left: 7.5em;
}

.ultimate__phone {
    /* margin-top: 70px; */
    max-width: 50%;
    margin-top: 4.375em;
}

/*                          -------------CHARGES__SWITCH Customize-------------*/
.charges {
    text-align: center;
    border-bottom: 2px solid #E5E6E5;
}

.charges__title {
    font-size: 40px;
}

.charges__description {
    font-size: 17px;
    margin: 30px 0 70px 0;
}

.charges__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: #616368
}

/*                          SWITCH CONFIGURATION */
.toggle-switch {
    position: relative;
    display: flex;
    border: 1px solid #616368;
    border-radius: 50px;
}

.toggle-switch label {
    padding: 13px;
    cursor: pointer;
}

.toggle-switch input[type=radio] {
    display: none;
}

.toggle-switch input[type=radio]#monthly:checked~.blob {
    background-color: #2500F9;
    animation-name: stretchyRev;
}

.toggle-switch input[type=radio]#monthly:checked~#text1 {
    color: white;
    transition: .5s color ease-in-out;
}

.toggle-switch input[type=radio]#annualy:checked~#text2 {
    color: white;
    transition: .5s color ease-in-out;

}


.toggle-switch input[type=radio]#annualy:checked~.blob {
    background-color: #2500F9;
    animation-name: stretchy;
}

.toggle-switch .blob {
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border-radius: 50px;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes stretchy {
    0% {
        transform: translateX(0) scaleX(1);
    }

    100% {
        transform: translateX(100%) scaleX(1);
    }
}

@keyframes stretchyRev {
    0% {
        transform: translateX(100%) scaleX(1);
    }

    100% {
        transform: translateX(0) scaleX(1);
    }
}

/*                          END -------------CHARGES__SWITCH Customize-------------*/
.charges__items {
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    column-gap: 60px;
}

.charge-item {
    text-align: -webkit-center;
    width: 20%;
    border: 3px solid #EBEBEB;
    padding-bottom: 20px;
    border-radius: 10px;
}

.charge-item__header {
    background-color: #F4F7F9
}

.charge-item__price {
    font-size: 45px;
    padding: 40px 0 25px 0;
}

.charge-item__month {
    font-size: 19px;
    color: #999CA5;
    font-weight: normal;
}

.charge-item__title {
    font-size: 22px;
}

.charge-item__description {
    font-size: 17px;
    padding-bottom: 40px;
    margin: 5px 0 20px 0;
    color: #999CA5;
}

.charge-item__info {
    line-height: 50px;
    color: #999CA5;
    font-size: 17px;
}

.charge-item__submit {
    font-size: 16px;
    max-width: 75%;
    max-height: 10%;
    display: block;
    margin: 20px 0 20px 0;
}

.charge-item__trial {
    text-decoration: none;
    font-size: 16px;
    color: #2500F9
}

/* active Class */
._active {
    border: 0px;
    box-shadow: 0px 0px 25px -3px rgba(0, 0, 0, 0.75);

}

/* SATISFACTION */
.satisfaction {
    display: flex;
    margin-bottom: 100px;
    margin-top: 130px;
}

.satisfaction__image {
    flex: 0 1 55%;
    margin-top: 50px;
}

.satisfaction__info {
    flex: 0 1 40%;
}

.satisfaction__info-title {
    font-size: 37px;
}

.satisfaction__info-description {
    font-size: 17px;
    margin: 20px 0 40px 0;
}

.satisfaction__info-person {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.info-person__buttons {
    display: flex;
}

.vertical-line {
    width: 1px;
    margin: 0px 10px;
    background-color: #DEE1E6;
    height: 20px;
    align-self: center;
}

.info-stars {
    width: 110px;
}

.satisfaction__info-legend {
    font-size: 20px;
    margin: 20px 0 25px 0;
}


.satisfaction__info-about {
    font-size: 16px;
}

.info-person__title {
    font-size: 17px;
}

.info-person__description {
    font-size: 16px;
}

.arrow-l,
.arrow-r {
    font-size: 45px;
    color: #DEE1E6;
    display: inline-block;
    cursor: pointer;
}

.far:hover {
    border-radius: 50px;
    background-color: #DEE1E6;
    color: #2500F9;
}


.info-person__bio {
    display: flex;
    align-items: center;
}

.info-person__about {
    margin-left: 30px;
}



/*                              ACCORDION CONFIGURATION */
.accordion-body {
    box-sizing: border-box;
    max-width: 55%;
}

.accordion-item__button {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 17px;
    transition: 0.4s;
}

.accordion-item {
    margin-bottom: 5px;
    text-align: left;
}

.active-accordion,
.accordion-item__button:hover {
    background-color: #ccc;
}

.accordion-item__button::after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active-accordion::after {
    content: "\2212";
}

.accordion-item__panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #F5F7FA;
    color: #616368;
}

/*                  END OF - ACCORDION CONFIGURATION */
.questions {
    text-align: -webkit-center;
    padding-bottom: 100px;
    border-bottom: 2px solid #E5E6E5;
    margin-bottom: 20px;
}

.questions__title {
    font-size: 44px;
}

.questions__description {
    margin: 15px 0 50px 0;
    font-size: 17px;
}


/* DOWNLOAD  */
.download-header {
    display: flex;
    margin-bottom: -55px;
}

.download-bio {
    margin: 100px 0 0 40px;
    max-width: 43%;
}

.download-bio__title {
    font-size: 44px;
}

.download-bio__description {
    /* font-size: 17px; */
    /* margin: 15px 0 60px 0; */
    font-size: 1.06em;
    margin: .93rem 0 3.75rem 0;
}

.download-apps {
    display: flex;
}

.app-img {
    max-width: 160px;
    margin-right: 15px;
    cursor: pointer;
}

/* download__footer */
.download-footer {
    background-color: #09142E;
    text-align: center;
    padding-top: 80px;
}

.menu-footer__link {
    color: #fff;
    font-size: 17px;
}

.footer__logo {
    color: #fff;

}

.menu-footer {
    margin: 45px 0 40px 0;
}

.download-footer__menu {
    display: inline-block;
}

.download-footer__social {
    font-size: 26px;
    color: #273043;
    display: flex;
    justify-content: center;
}

.social__icon:hover {
    color: #fff;
}

.social__icon {
    margin-right: 20px;
}

.fab {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.download-footer__copyright {
    padding: 60px 0 20px 0;
    color: #545864;
}