/* Laptop / Big Screen*/
@media only screen and (max-width: 1024px) {

    /* .menu-list__link {
        font-size: 17px;
    }

    .menu-list li:not(:last-child) {
        margin-right: 40px;
    }

    .header__menu {
        margin-right: 45px;
    }

    .info__title {
        font-size: 50px;
    } */
    header,
    .welcome {
        font-size: 15px;
    }

    /* FONT-SIZE  СЕКЦІЇ шоб потом по ізміненію його знач. все наследувалось його елементами */

    .companies-images {
        justify-content: space-evenly;
    }

    .awesome__phone {
        align-self: center;
    }

    .smart__header-title {
        /* font-size: 40px; */
        max-width: 35%;
    }

    .smart__header-description {
        max-width: 35%;
    }

    .ultimate__description {
        margin-top: 2.5rem;
    }

    .ultimate__phone {
        align-self: center;
    }

    .ultimate__content {
        /* margin-left: 80px; */
        margin-left: 5em;
        max-width: 40%;
    }

    .ultimate-item {
        /* margin: 0 25px 25px 0; */
        margin: 0 1.5625em 1.5625em 0;
    }

    .charge-item {
        min-width: 30%;
    }

    .charge-item__submit {
        /* font-size: 17px; */
        font-size: 1.06em;

    }

    .download-bio {
        /* margin: 85px 0 0 10px; */
        max-width: 45%;
        margin: 5.31em 0 0 0.62em;
    }
}

/* Tablet */

@media only screen and (max-width:768px) {


    .header__button {
        display: none;
    }

    .header__logo {
        font-size: 35px;
    }

    .header__menu {
        margin-right: 25px;
    }

    .menu-list li:not(:last-child) {
        margin-right: 30px;
    }

    .info__title {
        font-size: 45px;
    }

    .info__description {
        font-size: 16px;
    }

    .features__descriprion {
        margin-bottom: 40px;
    }

    .features-item__image {
        margin: 0 20px 20px 0;
    }

    .smart__header {
        margin-top: 100px;
    }

    .smart__header-title {
        font-size: 35px;
        min-width: 40%;
    }

    .smart__header-description {
        min-width: 45%;
    }

    .designed__info-title {
        font-size: 40px;
    }

    .ultimate {
        flex-direction: column;
    }

    .ultimate__phone {
        max-width: 100%;
        margin: 0;
        position: absolute;
        opacity: .1;
    }

    .ultimate__content {
        margin-left: 70px;
        order: 2;
        max-width: 100%;
    }

    .ultimate__description {
        margin-bottom: 40px;
    }

    .toggle-switch label {
        padding: 10px;
    }

    .satisfaction {
        margin-top: 20px;
        flex-direction: column;
        padding: 30px;
        row-gap: 50px;
    }

    .satisfaction__image {
        align-self: center;
    }

    .satisfaction__info-title {
        font-size: 40px;
    }

    .satisfaction__info-description,
    .satisfaction__info-about {
        font-size: 18px;
    }

    .satisfaction__info-legend {
        font-size: 21px;
    }

    .info-person__title {
        font-size: 20px;
    }

    .info-person__description {
        font-size: 17px;
    }

    .accordion-body {
        max-width: 70%;
    }

    .download-footer {
        padding-top: 60px;
    }

    .download-bio {
        margin: -10px 0 0 10px;
        max-width: 36%;
    }

    .menu-footer {
        margin-top: 30px;
    }

    .download-footer__copyright {
        padding-top: 40px;
    }
}

/* Mobile L */
@media only screen and (max-width: 425px) {

    .header__burger {
        display: flex;
        overflow: hidden;
    }

    .header__logo {
        margin: 0 auto;
    }

    .header__body {
        position: fixed;
        width: 100%;
    }

    .menu-list {
        padding: 20px;
        width: 100vw;
        position: fixed;
        top: 60px;
        left: 0;
        transform: translateX(130%);
        flex-direction: column;
        background-color: #f9f9f9;
        transition: .2s all ease-in-out;

        height: 100vh;
    }

    .menu-list--active {
        transform: translateX(0);
    }

    body.modal--open {
        overflow: hidden;
    }

    .menu-list li:not(:last-child) {
        margin: 0;
    }

    .menu-list li {
        padding: 20px;
        border-bottom: 1px solid red;
    }

    .welcome {
        flex-direction: column;
        background-position-y: 100%;
        background-size: contain;
    }

    .welcome__info {
        order: 2;
    }

    .title {
        font-size: 40px;
    }

    .subtitle,
    .options-item__title,
    .accordion-item__button {
        font-size: 16px;
    }

    .info-rank {
        font-size: 15px;
    }

    .companies {
        margin: 50px 0 10px 0;
    }

    .awesome__features {
        max-width: 90%;
    }

    .awesome {
        gap: 0;
        margin: 0;
    }

    .features-item__title {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .features-item__text {
        width: 100%;
        margin-bottom: 25px;
    }

    .smart__header {
        margin-top: 50px;
    }

    .smart__footer {
        margin-bottom: 100px;
        flex-wrap: wrap;
    }

    .smart-item {
        max-width: 100%;
        margin-bottom: 25px;
    }

    .smart-item__title {
        font-size: 18px;
    }

    .smart-item__description,
    .button,
    .info-person__description {
        font-size: 15px;
    }

    .designed {
        padding-bottom: 50px;
    }

    .designed__image {
        max-width: 75%;
    }

    .designed__info {
        margin-top: 30px;
        max-width: 90%;
    }

    .designed__info-description {
        font-size: 16px;
        margin: 20px 0;
    }

    .choice {
        margin-top: 50px;
    }

    .choice br,
    .charges br,
    .questions br {
        display: none;
    }

    .choice__description {
        font-size: 16px;
        margin: 25px 10px 80px 10px;
    }

    .choice__options {
        margin-bottom: 50px;
    }

    .options-item__description {
        width: 100%;
        padding: 0px 10px;
    }

    .ultimate {
        margin-bottom: 100px;
    }

    .ultimate-item__title {
        font-size: 20px;
    }

    .ultimate__content {
        margin-left: 20px;
    }

    .ultimate__description {
        margin: 20px 0 45px;
    }

    .ultimate-item {
        margin: 0 10px 10px 0;
    }

    .ultimate-item__title,
    .info-person__title {
        font-size: 18px;
    }

    .charges__description {
        margin: 20px 0 50px 0;
    }

    .charge-item {
        min-width: 35%;
    }

    .charge-item__title {
        font-size: 35px;
    }

    .charge-item__submit {
        padding: 15px;
        max-width: 100%;
        margin: 10px 0 15px 0;
    }

    .charge-item__trial {
        font-size: 13px;
    }

    .questions {
        padding-bottom: 50px;
    }

    .round-background {
        max-width: 70px;
    }

    .download-header {
        margin: 0;
    }

    .download-bio {
        max-width: 90%;
    }

    .download__img {
        position: absolute;
        opacity: .2;
        padding-top: 50px;
        z-index: -1;
    }

    .download-apps {
        max-width: 70%;
    }

    .download-footer {
        padding-top: 20px;
    }
}

/* Mobile M */
/* Page Elem: Font-Size EDIT*/
@media only screen and (max-width: 375px) {}

/* Mobile S */
@media only screen and (max-width: 320px) {}