body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

/*menu configuration*/
.menu {
    display: flex;
    justify-content: center;
    margin: 0;
    list-style: none;
    background-color: #fff;
}

.menu a {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: #16a085;
    font-weight: bold;
}

.menu li {
    margin: 20px 70px;
}

/* img */
img {
    width: -webkit-fill-available;
}

/*text edit*/
.text {
    background-color: #f5f6f7;
    color: #373737;
    text-align: center;
    padding-bottom: 60px;
}

p {
    padding: 30px;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

h1 {
    margin: 0;
    padding-top: 40px;
    font-size: 22px;
    text-transform: uppercase;
}

/* footer style */
footer {
    color: #373737;
}


/*button*/
.button {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    background-color: #16a085;
    border-radius: 3px;
    padding: 20px 60px;
    margin-top: 20px;
}

/*Copyright block*/
footer {
    text-align: end;
}

footer p {
    font-size: 12px;
}





















/* font style */
/* @font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.eot');
    src: url('../fontsRoboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../fontsRoboto-Black.woff2') format('woff2'),
        url('../fontsRoboto-Black.woff') format('woff'),
        url('../fontsRoboto-Black.ttf') format('truetype'),
        url('../fontsRoboto-Black.svg#Roboto-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
} */