body{
    text-align: center;
    margin-top: 10rem;
}
input{
    cursor: pointer;
    width: 14rem;
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 0px 2px 8px 3px red;
    outline: none;
    background-color: rgb(160, 5, 90);
    font-weight: bold;
    color: #fff;
}